<div id="wrapper">
    <div id="auto-block">
        <h2>{{projectName}}</h2>
        <p>{{projectDescription}}</p>
        <form #inviteForm="ngForm" id="invitation-block">
            <h4 class='problem' *ngIf="invitationFailed">Invitation failed</h4>
            <!-- <label for="email">Invite User</label> -->
            <input id="email" type="text" placeholder="Enter invitee's email" [(ngModel)]=invitedUserEmail>
            <button (click)="inviteUser(); inviteForm.reset()">Send Invitation</button>
        </form>
        <div id="story-maker">
            <app-create-story></app-create-story>
            <!-- <button (click)="openNewStory(content)">New Story</button> -->
        </div>
    </div>

    <div class="container">
        <div class="row story-holder">
            <div class="col status-column" *ngFor='let status of statusesToDisplay'>
                <h2 class="status-title">{{status}}</h2>
                <app-story-list [stories]="filteredProjectStories()[status]" [status]="status"
                    [dropLists]="statusesToDisplay"></app-story-list>
            </div>
        </div>
    </div>
</div>

<!-- <div class="story-maker">
    <ng-template #content let-modal>

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <router-outlet></router-outlet>
        </div>
        <div class="modal-footer">
        </div>


    </ng-template>
</div> -->