.story-card{
    padding: 3px;
    background-color: teal;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 2px;
    color: white;
}

.story-name{
    font: 25px arial, sans-serif;
}

.story-description{
    font: 5px arial, sans-serif;
}