.project-card {
    height: 200px;
    width: 300px;
    margin: 10px;
    box-shadow: -2px 2px #004444;
    background: #00aaaa;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    background: #33cccc;
}

h3 {
    border-bottom: 1px solid #007777;
    padding: 2px;
    margin: 5px;
}