nav{
    display: flex;
    flex-direction: row;
    color: darkgreen;
    border: 1px;
    background-color: gold;
}

.nav-bar-option {
    padding: 10px;
    background: white;
    color: black;
    border-radius: 5px;
}

#nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar{
    flex-grow: 1;
    background-color: teal;
}

.project-view{
    flex-grow: 4;
    min-width: 83%;
}