.sidebar {
    position: absolute;
    left: 0px;
    min-height: 100vh;
    display: block;
    background: #884444;
    color: white;
    padding: 40px;
    list-style-type: none;
}

nav {
    background: gold;
    display: flex;
    flex-direction: row;
}

#nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar-option {
    background: #00aaaa;
    color: gold;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
}

.nav-bar-option:hover {
    background: teal;
}