.story-list{
    border: 3px, solid;
    background-color: lightgreen;
    min-height: 10%;
}
  
  .story-card:last-child {
    border: none;
  }

  .cdk-drag-placeholder {
    visibility: hidden;
  }